<h1 style="text-align: center">About Me</h1>
<div class="container">
<div class="row">
  <div class="col-7 card">
    <p>My name is Alli and I'm a full-stack web developer that recently graduated from Flatiron School.</p>
    <p>I decided to purchase some additional courses on Udemy to learn from others while I continue to hone in on my skills and figure out what aspects of development are my favorite.  Ideally I would like to get a job in back-end web development, but I am open to all opportunities that would give me room to grow and become a better developer.</p>
    <p>I am a single mom and work full time.  Going to school, working and balancing regular life has been a challenge. In the end, I know I have become a better person and candidate for any company from what I've been through.</p>
    <p>I'm also currently enrolled in a workout challenge at my gym and am determined to win! I am currently blogging about my journey on the Keto diet and working out.</p>
  </div>

  <div class="image-container col">
  <%= image_tag("me.JPEG", :alt => "me") %>
  </div>
</div>
</div>
