<h1 style="text-align: center">Home</h1>

<p>This is a simple page layout.</p>
<p>The application.html.erb file holds the basic styling and layout and yields the page information from each page "Home" and "About" respectively into the container div.</p>

<h3 style="text-align: center">Additional Styling</h3>

<li>The stylesheet.css file within the asset pipeline has additional code for the footer and navigation bar</li>
<li>Basic styling was done by applying Bootstrap classes to the application.html.erb file.</li> <p><small>Note: In order to use Bootstrap you must apply the Bootstrap links to the application.html.erb page.  You will add the css link to the bottom of the header section and 3 links to the end of your body tag. You can find information on Bootstrap <a href="https://getbootstrap.com/docs/4.2/getting-started/introduction/">here</a>.</small></p>
