$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

.style {
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}

footer a:hover {
  color: black;
}

footer a {
  color: #ED82A5;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.navbar {
  border-bottom: 1px solid #E7E7E7;
  background-color: #000000;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.jumbotron {
  margin-top: 20px;
  background-image: asset_url('blogging.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #ED82A5;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  text-transform: capitalize;
  background-color: black;
  color: white;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

// .nav-item {
//   margin: 10px;
//   padding: 10px;
// }

.navbar a {
  color: #ED82A5;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
}

#search-submit {
  background-color: #fff;
  text-decoration: none;
  color: #ED82A5;
}

#new-article {
  color: #ED82A5;
}
.image-container img{
  width: 248px;
  height: 442px;
  margin-top: 20px;
  border-radius: 20px;
}

.about {
  float: left;
}

.image-container {
  float: right;
  text-align: center;
}

.article-meta-details {
  border-top: 1px solid #e7e7e7;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #E7E7E7;
  padding-top: 5px;
}

.description {
  margin: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #E7E7E7;
  padding-top: 15px;
  padding-bottom: 15px;
}
